<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
    "classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.ogm.datastore.provider">couchdb_experimental</property>

		<property name="hibernate.ogm.datastore.host">localhost:5984</property>
		<property name="hibernate.ogm.datastore.database">smarthome</property>

		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>

	</session-factory>
</hibernate-configuration>